/* This fits in the gap between the input boxes */
.nacs-form-msg {
  margin: -1rem 0 0 0;
  min-height: 1rem;
  line-height: 1rem;
  vertical-align: text-top;
}
.nacs-code-line:before {
  content: attr(data-line-number);
  position: absolute;
  right: 0;
  top: 0;
}
.nacs-code-line {
  margin-right: 7px;
  margin-left: -4px;
  position: relative;
}
